<% Object.keys(messages).forEach(function (type) { %>
  <div class="fga alert alert-<%= type %>">
    <% messages[type].forEach(function (message) { %>
      <%= message %>
    <% }) %>
  </div>
<% }) %>
