 <!-- footer sec -->
  <footer>
    <div class="footer-body">
      <div class="container">
        <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-2">
            <div class="foolink-hesd">Main Links</div>
            <div class="footer-menu">
              <ul class="foo-nav">
                <li><a href="/#buying-sec">Buying</a></li>
                <li><a href="/#contact-sec">Selling</a></li>
                <li><a href="/about">About Us</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="foolink-hesd">Contact Us</div>
            <div class="footer-nav">
              <ul>
                <li class="fooqlink-sec">
                  <img src="frontend/images/foo-phon-icon.png">
                  <p><a href="tel:02 9247 1061">02 9247 1061</a></p>
                </li>
                <li class="fooqlink-sec">
                  <img src="frontend/images/foo-email-icon.png">
                  <p><a href="mailto:admin@forwardbusiness.com.au">admin@forwardbusiness.com.au</a></p>
                </li>
                <li class="fooqlink-sec">
                  <img src="frontend/images/foo-location-icon.png">
                  <p>Level 10, 20 Martin Place, Sydney NSW 2000</p>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="foolink-hesd">Follow Us</div>
            <div class="footer-social-icon">
              <a href="javascript:void(0)"><i class="fa fa-twitter"></i></a>
              <a href="javascript:void(0)"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="footer-innr-barcode">
              <img src="frontend/images/ff-barcod2.png">
            </div>
            <div class="footer_logo">
              <a href="#">
                <img src="frontend/images/foo-logo.png" alt="">
              </a>
            </div>
          </div>
        </div>
        <div class="row copyrightsec">
          <div class="col-sm-12 col-md-12 text-center">
            <div class="foo-copyright">© 2018 Forward Business Sales and Acquisitions</div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <a id="back2Top" title="Back to top" href="#" style="display: block;">➤</a>
  <!-- end footer sec -->
  <script src="/frontend/js/jquery-2.2.4.min.js"></script>
  <script src="/frontend/js/bootstrap.min.js"></script>
  <script src="/frontend/js/owl.carousel.js"></script>
  <script type="text/javascript" src="/frontend/js/wow.js"></script>
  <!--  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAy6CsKM4FCvwK9ujIGje0H5CX1b_PfvIk"></script> -->
  <script src="/frontend/js/wow.js"></script>
  <script src="/frontend/js/css3-animate-it.js"></script>
  <script src="/frontend/js/custom.js"></script>
</body>

</html>