<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Forward: Home for First Time Buyers | Asian Investors</title>
  <meta name="description" content="" />
  <meta name="author" content="admin" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
  <link rel="shortcut icon" href="/frontend/images/favicon.png" />
  <link rel="stylesheet" href="/frontend/css/bootstrap.css" />
  <link href="/frontend/css/font-awesome.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500" rel="stylesheet">
  <link rel="stylesheet" href="/frontend/css/owl.carousel.css" />
  <link rel="stylesheet" href="/frontend/css/custom.css" />
  <link rel="stylesheet" href="/frontend/css/responsive.css" />
  <link rel="stylesheet" href="/frontend/css/animate.css" media="all" />
</head>

<body>
  <!-- <div id="preloader"></div> -->
  <!-- header -->
  <header class="header">
    <div class="container">
      <div class="hdr-sec">
        <div class="logo-sec">
          <a class="logo" href="/"><img src="frontend/images/logo.png" alt="" /></a>
        </div>
        <div class="rght-hdr">
          <div class="menu-sec">
            <nav class="navbar navbar-static-top">
              <!-- <div class="navbar-header">
									<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
									
										<span class="sr-only">Toggle navigation</span>
									
										<span class="icon-bar"></span>
									
										<span class="icon-bar"></span>
									
										<span class="icon-bar"></span>
									
									</button>
									
									</div> -->
              <div class="collapse navbar-collapse top_nav" id="navigation">
                <ul class="nav navbar-nav">
                  <li class="current-menu-item active">
                    <a href="#buying-sec">Buying</a>
                  </li>
                  <li>
                    <a href="#contact-sec">Selling</a>
                  </li>
                  <li>
                    <a href="/about">About Us</a>
                  </li>
                </ul>
                <div class="rightnav-menu nav-toggle" onclick="openNav()">
                  <img src="frontend/images/sidemenu-icon.png">
                </div>
                <!-- side toggle menu -->
                <div id="mySidenav" class="sidenav nav">
                  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                  <ul class="mobilemenu">
                    <li class="active"><a href="#buying-sec">Buying</a></li>
                    <li><a href="#contact-sec">Selling</a></li>
                    <li><a href="/about">About</a></li>
                  </ul>
                </div>
                <!-- side toggle menu -->
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- end header -->